body {
  .page {
    .content.message-list {
      .message {
        display: grid;
        box-sizing: border-box;
        grid-template-columns: 1fr 1fr;
        grid-gap: inherit;
        padding: 2px;
        margin-bottom: 5px;

        .pfp {
          display: none !important;
        }
        .name {
          color: #dbdbdb;
        }
        .timestamp {
          text-align: right;
          color: #dbdbdb;
        }
        .body {
          grid-column-start: 1;
          grid-column-end: 3;
        }
      }
    }
  }
}
