body {
  background-color: black;
  color: white;
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
}
body .header {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
}
body .header button {
  width: 60px;
  height: 100%;
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: width ease-in-out 0.2s;
}
body .header button.active {
  background-color: #6667ab;
  color: white;
  width: 100px;
}
body .header .left {
  margin: 0 auto 0 0;
}
body .header .right {
  margin: 0 0 0 auto;
}
body .page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  width: 100%;
}
body .page .content {
  width: 100%;
  background-color: #111;
  flex-grow: 1;
}
body .page .content.message-list {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}
body .page .content.message-list .message:nth-child(even) {
  background-color: #1a1a1a;
}
body .page .content.message-list .message {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 80px 5fr;
  grid-gap: 0.75rem;
  padding: 0.8rem 0.15rem;
  width: 100%;
  overflow-y: auto;
}
body .page .content.message-list .message .pfp {
  height: 30px;
  width: auto;
  display: flex;
}
body .page .content.message-list .message .pfp img {
  height: 100%;
  width: auto;
  margin: auto;
  border-radius: 50px;
  background-color: black;
}
body .page .content.message-list .message .name {
  font-size: 1.15rem;
  color: #dbdbdb;
}
body .page .content.message-list .message .body {
  width: 100%;
  word-wrap: anywhere;
  overflow-x: hidden;
}
body .page .content.message-list .message .body .image-container {
  width: 100%;
  max-width: 400px;
  max-height: 300px;
}
body .page .content.message-list .message .body .image-container img {
  width: auto;
  height: 100%;
  max-width: 400px;
  max-height: 300px;
}
body .page .content.message-list .message .timestamp {
  text-align: center;
  color: #dbdbdb;
}
body .page .content.settings .setting {
  width: 100%;
  display: flex;
  padding: 0.5rem 0.25rem;
  box-sizing: border-box;
}
body .page .content.settings .setting-toggle input {
  margin: auto 0 auto auto;
  width: 20px;
  height: 20px;
}
body .page .content.settings .setting:nth-child(even) {
  background-color: #1a1a1a;
}
body .footer {
  width: 100%;
  height: 40px;
}
body .footer.text-entry {
  display: Flex;
  flex-direction: row;
}
body .footer.text-entry input {
  flex-grow: 1;
  margin-right: 0;
  border: 0;
  font-size: 1.3rem;
  min-width: 0;
}
body .footer.text-entry button {
  width: 75px;
  border: 0;
  border-radius: 0;
}
body .hidden {
  display: none !important;
}

button {
  width: 100px;
  height: 100%;
  background-color: white;
  border-radius: 2px;
  border: 0;
  cursor: pointer;
  outline: none;
}
button span {
  width: 100%;
  height: 100%;
}
button span img {
  max-height: 70%;
  width: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}

button:focus {
  filter: brightness(50%);
}

input {
  outline: none;
}

input:focus {
  background-color: lightgray;
}

@media screen and (max-width: 400px) {
  body .header {
    height: 30px;
  }
  body .header button {
    width: 50px;
  }
  body .page .content.message-list .message {
    grid-template-columns: 80px 5fr;
    grid-gap: 0.75rem;
    padding: 0.8rem 0.15rem;
  }
  body .page .content.message-list .message .pfp {
    height: 30px;
  }
}