/*
    metadata_gen.css

    Created by Kalila L. on 23 Feb 2020.
    Copyright 2020 Project Athena and contributors.
    
    Distributed under the Apache License, Version 2.0.
    See the accompanying file LICENSE or http://www.apache.org/licenses/LICENSE-2.0.html
*/

h1 {
	font-size: 24px;
	color: #CFB538;
	font-weight: 800;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

font.error {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FF0000;
	font-weight: 700;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

font.explain {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #CFB538;
	font-weight: 500;
	text-decoration: none;
	font-style:italic;
	font-variant: normal;
	text-transform: none;
}

input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: 500;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

textarea {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: 500;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

textarea.output {
	background: #ffff66;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: 700;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

sup {
	color: #ff0000;
}

body {
	background: #3E415E;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: 600;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

input[type="button"]:disabled {
  color: #bbbbbb;
}