@font-face {
    font-family: FiraSans-SemiBold;
    src: url(../fonts/FiraSans-SemiBold.ttf);
}
@font-face {
    font-family: FiraSans-Regular;
    src: url(../fonts/FiraSans-Regular.ttf);
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: FiraSans-Regular;
}
body .center-align {
  margin: auto;
  width: 800px;
}
body .center-align h1 {
  font-family: FiraSans-SemiBold;
  text-align: center;
}
body .center-align h2 {
  font-family: FiraSans-SemiBold;
  margin-top: 4rem;
}
body .center-align a {
  font-weight: bold;
}
body .center-align .important {
  color: #6667AB;
}
body .center-align .button-horizontal-container {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}
body .center-align .button-horizontal-container button, body .center-align .button-horizontal-container .continue-button {
  margin-left: auto;
  width: 100px;
  height: 30px;
  border: 0;
  background-color: #6667AB;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}
body .center-align .code-block {
  padding: 1rem;
  box-sizing: border-box;
  background-color: #1f1f1f;
  border-radius: 10px;
  margin-top: 1rem;
}
body .center-align .code-block .javascript-comment {
  color: #00d100;
  font-style: italic;
}
body .center-align .code-block textarea {
  max-width: 100%;
  width: 100%;
  min-width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  color: white;
  border: 0;
}
body .center-align .form-entry .form-area input[type=text] {
  width: 100%;
  height: 30px;
  text-align: center;
}
body .center-align .form-entry .form-area .form-textinput, body .center-align .form-entry .form-area .form-textarea, body .center-align .form-entry .form-area .form-combobox {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
body .center-align .form-entry .form-area .form-textinput label, body .center-align .form-entry .form-area .form-textarea label, body .center-align .form-entry .form-area .form-combobox label {
  margin: auto 0 auto 0;
  font-size: 20px;
}
body .center-align .form-entry .form-area .form-textinput input {
  width: 50%;
  margin-left: auto;
  text-align: left;
}
body .center-align .form-entry .form-area .form-textarea {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
body .center-align .form-entry .form-area .form-textarea textarea {
  width: 50%;
  min-width: 50%;
  max-width: 50%;
  margin-left: auto;
  height: 100px;
}
body .center-align .form-entry .form-area .form-combobox select {
  width: 50%;
  margin-left: auto;
  height: 35px;
}
body .error {
  color: red;
}
body .error-input {
  border: 1px solid red;
}
body .submit-button {
  height: 30px;
  width: 100px;
  background-color: #6667AB;
  border-radius: 10px;
  color: white;
  border: 0;
  font-size: 18px;
  margin: auto;
}
body .hidden {
  display: none !important;
}

@media (max-width: 900px) {
  body .center-align {
    width: 90%;
  }
}